* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    cursor: default;
}

.header {
    padding: 1em;    
    width: 100%;
    height: fit-content;
/*    position: sticky;
    top: 0;
    z-index: -1;*/
}

.flex-container {
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-container-column {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:2rem;
}

.content-top{
    width: 30%;
}

.content-bottom{
    width: 70%;
}

.content-left {
    width: 30%;
}

.content-right {
    width: 50%;
}

.logo {
    text-align: center;
}

.navigation {
    display: flex;
    height: 4rem;
    justify-content: space-evenly;
    gap: 2rem;
    background-color: #A08679;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navigation-item{
    width: 25%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}
.right-border {
    border-right: 1px solid #000;
}

.nav-link {
  color: #18272F;
  position: relative;
  text-decoration: none;
}

.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #3e2723;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #A08679;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: #A08679;
  transform: translateY(0);
}

.medium-width{
    margin: auto;
    width: 70%;
}

.margin-top-5{
    margin-top: 5rem;
}

img {
    max-width: 100%;
    height: auto;
  }
  
.center-container{
	margin-top:100px;
	text-align:center;
}

.styled-table1{
	border-collapse: collapse;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}
.styled-table1 td, .styled-table1 th {
    padding: 15px;
    border-bottom: 0px solid #fff;
}

.theadStyle{
	padding: 10px;
	background-color: #b57031;
	color: #fff;
}

.styled-table1 tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table1 tbody tr{
	/*border-bottom: 4px dotted blue;*/
}

/** Reservation Form **/

.section {
	position: relative;
	height: 130vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Raleway', sans-serif;
}

.booking-form {
	position: relative;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 40px;
	overflow: hidden;
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-color: #A08679;
	border-radius: 10px;
	z-index: 20;
}

.booking-form::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #A08679;
	z-index: -1;
}

.booking-form .form-header {
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-header h1 {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 35px;
	margin: 0px;
	color: #fff;
}

h4{
	font-weight: 700;
	text-transform: capitalize;
	font-size: 20px;
	margin-bottom: 20px;
	color: #fff;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 30px;
}

.booking-form .form-control {
	background-color: #7a6256;
	height: 60px;
	padding: 0px 25px;
	border: none;
	border-radius: 40px;
	color: #fff;
	-webkit-box-shadow: 0px 0px 0px 2px transparent;
	box-shadow: 0px 0px 0px 2px transparent;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form .form-control:focus {
	-webkit-box-shadow: 0px 0px 0px 2px #ff8846;
	box-shadow: 0px 0px 0px 2px #ff8846;
}

.booking-form input.form-control {
	padding-top: 16px;
}

.booking-form input.form-control:invalid{
	color: rgba(255, 255, 255, 0.5);
}

.booking-form input.form-control+.form-label{
	opacity: 1;
	top: 10px;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: rgba(255, 255, 255, 0.5);
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form select.form-control option {
	color: #fff;
}

.booking-form .form-label {
	position: absolute;
	top: -10px;
	left: 25px;
	opacity: 0;
	color: #ff8846;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	height: 15px;
	line-height: 15px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-control {
	padding-top: 16px;
}

.booking-form .form-group.input-not-empty .form-label {
	opacity: 1;
	top: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #e35e0a;
	font-weight: 700;
	height: 60px;
	padding: 10px 30px;
	width: 100%;
	border-radius: 40px;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.3px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}