<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<title>RESTO-APP</title>
</head>

<body>
	<div class="admin-page">
		<div class="user-left-panel">
			<div class="logoAdmin">
				<img src="../img/NBCC-white-simple.png">
			</div>
			<div>
				<div class="logoAdmin2">
					<img src="../img/dinning-logo2.png">
				</div>
				<div class="user-navigation">
					<div class="navigation-item">
						<a th:href="@{/userPanel}" class="nav-link">Home</a>
					</div>
					<div class="navigation-item">
						<a th:href="@{/toMenuPanel}" class="nav-link">Menus</a>
					</div>
					<div class="navigation-item">
						<a th:href="@{/toReservationAdmin}" class="nav-link">Reservations</a>
					</div>
					<div class="navigation-item">
						<a th:href="@{/todayFloorPlan}" class="nav-link">Floor Plan</a>
					</div>
					<div class="navigation-item"> 
						<a th:href="@{/eventsPage}" class="nav-link">Events</a>
					</div>
					<div class="navigation-item">
						<a th:href="@{/toCustomerView}" class="nav-link">Customer View</a>
					</div>
					<div th:if="${#session == null}" class="">
						<a th:href="@{/goToLogin}" class="button-6">Staff Panel</a>
					</div>
				</div>
			</div>
			<div></div>
		</div>

		<div class="main" th:if="${#session != null}">
			<div class="top-information center">USER INFORMATION</div>
			<div class="content">
					<div class="container">
						<div class="row">
							<div class="center-container">
								<h1>Event: <span th:text="${eventToEdit.title}"></span></h1>
								<form method="post" class="booking-form booking-form-s"
									th:action="@{/processEditEvent}" th:object="${eventToEdit}"
									enctype="multipart/form-data">
									<input type="text" th:field="*{id}" hidden> <br>
									<input type="text" th:field="*{imageUrl}" hidden>
									<div>
										<div class="form-group">
											<input type="text" class="form-control" th:field="*{title}"><span
												class="form-label">Event Title:</span>
										</div>
										<div class="form-group">
											<textarea class="form-control" th:field="*{description}"></textarea>
											<span class="form-label">Description:</span>
										</div>
										<div class="form-group">
											<h2>Display Event for Guests?</h2>
											<div th:if="${eventToEdit.isDisplayed}">
												<input id="notDisplayed" type="radio" name="isDisplayed"
													value="false"> <label for="notDisplayed"
													class="radio-label">No</label> <input id="displayed"
													type="radio" name="isDisplayed" value="true" checked>
												<label for="displayed" class="radio-label">Yes</label>
											</div>
											<div th:if="${!eventToEdit.isDisplayed}">
												<input id="notDisplayed" type="radio" name="isDisplayed"
													value="false" checked> <label for="notDisplayed"
													class="radio-label">No</label> <input id="displayed"
													type="radio" name="isDisplayed" value="true"> <label
													for="displayed" class="radio-label">Yes</label>
											</div>
										</div>
										<div class="form-group">
											<h2>Current Event Image: <span th:text="*{imageUrl}"></span></h2>
											 <br>
											<img th:src="@{${'/uploads/' + eventToEdit.imageUrl}}" width="200" />
											<h2>Upload New Image</h2>
											<div class="form-group">
												<input type="file" name="image" accept="image/*"
													class="">
											</div>
										</div>
										<button type="submit" class="submit-btn">Submit
											Event</button>
										<a th:href="@{/deleteEvent/{eId} (eId = ${eventToEdit.id})}" class="deleteBtn">Delete Event</a>
									</div>
								</form>

								<span th:if="${msg != null}" th:text="${msg}"></span>
							</div>
						</div>
					</div>
			</div>
			<div class="footer footerPanel">
				<div class="row">
					<div class="col-md-12">© Copyright 2022. All Rights Reserved.
						|| Designed By: DevAtlantics - Ana Silva & Jose Silva</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>