<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link type="text/css" rel="stylesheet" href="../css/modal.css" />
<link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
<link rel="stylesheet" href="../css/styles.css">
<title>RESTO-APP</title>
</head>

<body>
	<div class="admin-page">
		<div class="user-left-panel">
			<div class="logoAdmin">NBCC 1234 Room</div>

			<div class="user-navigation">
				<div class="navigation-item">
					<a th:href="@{/toMenuPanel}" class="nav-link">Menus</a>
				</div>

				<br>
				<div class="navigation-item">
					<a th:href="@{/toFloorPlanAdmin}" class="nav-link">FloorPlan</a>
				</div>
				<br>
				<div class="navigation-item">
					<a th:href="@{/toReservationAdmin}" class="nav-link">Reservations</a>
				</div>
				<br>
				<div class="navigation-item">
					<a th:href="@{/toCustomerView}" class="nav-link">Customer View</a>
				</div>
			</div>
		</div>

		<div class="main">
			<div class="top-information center">USER INFORMATION</div>
			<div class="content">
				<div class="container">
					<div class="row">
						<div id="booking" class="section col-md-6">
							<h2>
								Reservation #<span th:text="${rToEdit.id}"></span>
							</h2>
							<div class="booking-form">
								<form th:action="@{/updateReservation}" method="POST"
									th:object="${rToEdit}">
									<input type="text" th:field="*{id}" hidden>
									<div class="row">
										<div class="col-md-3"></div>
										<div class="col-md-2">
											<h4>Status:</h4>
										</div>
										<div class="col-md-5">
											<div class="form-group">
												<select class="form-control selectStatus" name="status"
													th:field="*{status}">
													<option th:each="status : ${statusList}"
														th:value="${status}" th:text="${status}"></option>
												</select><span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>
									<div th:if="${rToEdit.table != null}" class="row">
										<div class="col-md-3"></div>
										<div class="col-md-2">
											<h4>Table:</h4>
										</div>
										<div class="col-md-5">
											<div class="form-group">
												<input class="form-control no-top-padding" id="datefield" type='text'
													 th:field="*{table.number}" readonly style="font-size: 18px;">
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>
									<div th:if="${rToEdit.table == null}" class="row">
										<div class="col-md-12">
											<h4 style="text-align: center;">No Table Assigned</h4>
										</div>
									</div>
									<div class="">
										<button class="submit-btn2">Submit</button>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input class="form-control" id="datefield" type='date'
													th:attr="min=${minDate}" th:field="*{date}" readonly>
												<span class="form-label">Date</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input class="form-control" type="text" th:field="*{time}"
													readonly> <span class="form-label">Time</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input class="form-control" id="" type='text'
													th:field="*{guests}" readonly> <span
													class="form-label">Guests</span>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<input class="form-control" id="" type='text'
													th:field="*{adults}" readonly> <span
													class="form-label">Adults</span>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<input class="form-control" id="" type='text'
													th:field="*{kids}" readonly> <span
													class="form-label">Children</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<input class="form-control" id="datefield" type='text'
													th:field="*{vegetarian}" readonly> <span
													class="form-label">Vegetarian</span>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="form-control" id="datefield" type='text'
													th:field="*{vegan}" readonly> <span
													class="form-label">Vegan</span>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<input class="form-control" id="datefield" type='text'
													th:field="*{wheelChair}" readonly> <span
													class="form-label">Wheel Chairs</span>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" id="" type='text'
												th:field="*{additionalInfo}" readonly> <span
												class="form-label">Additional Information</span>
										</div>
									</div>
									<div>
										<h4>Personal Information</h4>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input class="form-control" type="text"
													th:field="*{firstName}" readonly
													placeholder="Enter your First Name"> <span
													class="form-label">First Name</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input class="form-control" type="text"
													th:field="*{lastName}" readonly
													placeholder="Enter you Last Name"> <span
													class="form-label">Last Name</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input class="form-control" type="email" th:field="*{email}"
													placeholder="Enter your Email" readonly> <span
													class="form-label">Email</span>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input class="form-control" type="tel" th:field="*{phone}"
													placeholder="Enter you Phone" readonly> <span
													class="form-label">Phone</span>
											</div>
										</div>
									</div>
								</form>
								<div class="containerDelete">
									<a th:href="@{/deleteReservation/{rId} (rId = ${rToEdit.id})}"
										class="button-6 deleteBtn">Delete Reservation</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<h2>
								Reservations For <span th:text="${formattedToday}"></span>
							</h2>
							<div class="cart-primary">
								<div class="cart-primary-content">

									<div class="cart-secondary">
										<div class="cart-secondary-title">Reservation #2334</div>
										<div class="cart-secondary-content">
											<div class="content-left">
												Monday, Nov 14th <br> Time: 11:45am <br> Guest #:
												4
											</div>
										</div>
									</div>
									<div class="cart-secondary">
										<div class="cart-secondary-title">Reservation #2334</div>
										<div class="cart-secondary-content">
											<div class="content-left">
												Monday, Nov 14th <br> Time: 11:45am <br> Guest #:
												4
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="cart-primary">
								<div class="cart-primary-title margin-top-5">Floor Plan -
									Select an available table to place reservation</div>
								<div class="cart-primary-content">
									<div class="floor-plan-one-grid">
										<div class="item item-1" >
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+40+'', data-object-name=''+40+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">40</a>
										</div>
										<div class="item item-2">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+12+'', data-object-name=''+12+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">12</a>
										</div>
										<div class="item item-3">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+11+'', data-object-name=''+11+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">11</a>
										</div>
										<div class="item item-4">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+10+'', data-object-name=''+10+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">10</a>
										</div>
										<div class="item item-door"></div>
										<div class="item item-5">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+41+'', data-object-name=''+41+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">41</a>
										</div>
										<div class="item item-6"></div>
										<div class="item item-7">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+22+'', data-object-name=''+22+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">22</a>
										</div>
										<div class="item item-8">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+21+'', data-object-name=''+21+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">21</a>
										</div>
										<div class="item item-9"></div>
										<div class="item item-10">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+20+'', data-object-name=''+20+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">20</a>
										</div>
										<div class="item item-11">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+50+'', data-object-name=''+50+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">50</a>
										</div>
										<div class="item item-12">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+42+'', data-object-name=''+42+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">42</a>
										</div>
										<div class="item item-13"></div>
										<div class="item item-14">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+51+'', data-object-name=''+51+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">51</a>
										</div>
										<div class="item item-15">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+43+'', data-object-name=''+43+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">43</a>
										</div>
										<div class="item item-16">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+30+'', data-object-name=''+30+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">30</a>
										</div>
										<div class="item item-17">
											<a href="#addTableToRes" data-toggle="modal"
												th:attr="data-object-id=''+52+'', data-object-name=''+52+'', data-target='#addTableToRes'"
												class="mymodalonline" onclick="return false;">52</a>
										</div>
										<div class="item item-18"></div>
										<div class="item item-19"></div>
										<div class="item item-20"></div>
										<div class="item item-21"></div>
										<div class="item item-22"></div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="footer footerPanel">
				<div class="row">
					<div class="col-md-12">© Copyright 2022. All Rights Reserved.
						|| Designed By: DevAtlantics - Ana Silva & Jose Silva</div>
				</div>
			</div>
		</div>
	</div>

	<div id="addTableToRes" class="modal fade text-center">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" id="closf" class="close" data-dismiss="modal"
						aria-hidden="true">x</button>
				</div>
				<div class="modal-body">
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<script th:inline="javascript">
	/*<![CDATA[*/

	    $('#addTableToRes').on('show.bs.modal', function (event) {
	    	var resNumber = [[${rToEdit.id}]];
	    	var button = $(event.relatedTarget);
	        var table = button.data('object-name');
	        $.get("/modals/add-table-to-res?table=" + table + "&resNumber=" + resNumber, function (data) {
	            $('#addTableToRes').find('.modal-body').html(data);
	        })
	    })
    /*]]>*/
</script>
</body>



</html>