<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/bootstrap.css">
<title>RESTO-APP</title>
</head>

<body>
	<div class="admin-page">
		<div class="user-left-panel">
			<div class="logoAdmin">
				<img src="img/NBCC-white-simple.png">
			</div>
			<div>
				<div class="logoAdmin2">
					<img src="img/dinning-logo2.png">
				</div>
				<div class="user-navigation">
					<div class="navigation-item">
						<a th:href="@{/userPanel}" class="nav-link">Home</a>
					</div>
					<div class="navigation-item">
						<a th:href="@{/toMenuPanel}" class="nav-link">Menus</a>
					</div>
					<div class="navigation-item">
						<a th:href="@{/toReservationAdmin}" class="nav-link">Reservations</a>
					</div>
					<div class="navigation-item">
						<a th:href="@{/todayFloorPlan}" class="nav-link">Floor Plan</a>
					</div>
					<div class="navigation-item"> 
						<a th:href="@{/eventsPage}" class="nav-link">Events</a>
					</div>
					<div class="navigation-item">
						<a th:href="@{/toCustomerView}" class="nav-link">Customer View</a>
					</div>
					<div th:if="${#session == null}" class="">
						<a th:href="@{/goToLogin}" class="button-6">Staff Panel</a>
					</div>
				</div>
			</div>
			<div></div>
		</div>

		<div class="main" th:if="${#session != null}">
			<div class="top-information center">USER INFORMATION</div>
			<div class="content">
				<div class="user-actions-panel row">
					<div class=" col-md-2 alignRightBtn">
						<a th:href="@{/addNewEvent}" class="button-6 btn-res-page">Add
							New Event</a>
					</div>
					<div class="col-md-10">
						<h1>Events Page</h1>
					</div>

				</div>
				<div class="cart-primary">
					<div class="cart-primary-title cart-primary-title2">Events
						List</div>
					<div th:if="${allEvents.size == 0}" class="cart-primary-content">No
						Events</div>
					<div th:if="${allEvents.size != 0}" class="cart-primary-content">
						<div class="cart-secondary width-15" th:each="ev : ${allEvents}">
							<div class="cart-secondary-title">
								<strong><span th:text="${ev.title}"></span> </strong>
							</div>
							<div class="cart-secondary-content">
								<div class="content-left">
									Description: 
									<br>
									<span th:text="${ev.description}"></span>
								</div>
								<div class="content-right">
									<a th:href="@{/toEditEvent/{eId} (eId = ${ev.id})}"
										class="button-6">Open</a> <br> <img
										th:src="@{${'uploads/' + ev.imageUrl}}" width="50" style="margin-top: 1em;"/>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cart-primary">
					<div class="cart-primary-title cart-primary-title2">Events
						Being Displayed</div>
					<div th:if="${displayedEvents.size != 0}"
						class="cart-primary-content">
						<div class="cart-secondary width-15"
							th:each="ev : ${displayedEvents}">
							<div class="cart-secondary-title">
								<strong><span th:text="${ev.title}"></span> </strong>
							</div>
							<div class="cart-secondary-content">
								<div class="content-left">
									Description: 
									<br>
									<span th:text="${ev.description}"></span>
								</div>
								<div class="content-right">
									<a th:href="@{/toEditEvent/{eId} (eId = ${ev.id})}"
										class="button-6">Open</a> <br> <img
										th:src="@{${'uploads/' + ev.imageUrl}}" width="50" style="margin-top: 1em;"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer footerPanel">
				<div class="row">
					<div class="col-md-12">© Copyright 2022. All Rights Reserved.
						|| Designed By: DevAtlantics - Ana Silva & Jose Silva</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>